{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static '/spotifyQ/css/index.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'spotifyQ/img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'spotifyQ/img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'spotifyQ/img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'spotifyQ/img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'spotifyQ/img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>SpotifyQ</title>
</head>
<body>
<header>
    <nav class="navbar sticky-top navbar-light bg-light">
        <a class="navbar-brand mx-auto" href="{% url 'index' %}">
            <img src="{% static 'spotifyQ/img/q.PNG' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            SpotifyQ
        </a>
    </nav>
</header>

<div id="page-container">
{#    <div class="alert alert-info alert-dismissible fade show m-0 pr-4" role="alert">#}
{#        <p><small>#}
{#            Currently, your device is able to <i>connect</i> to a queue, but is not able to <i>start</i> a queue since#}
{#            support for Spotify Web Playback API is required.#}
{#            To start a queue, navigate to SpotifyQ on Chrome, Firefox, Edge, or IE on a Mac/Windows/Linux.#}
{#            Support for mobile devices is on the way.#}
{#        </small></p>#}
{#        <button type="button" class="close pr-2 pt-1" data-dismiss="alert" aria-label="Close">#}
{#            <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#    </div>#}
    <div id="content-wrap">
        <table class="item">
            <tr>
                <th>
                    <div class="background">
                        <img src="{% static 'spotifyQ/img/music-note.png' %}" class="splash-screen-img"
                             id="music-note">
                    </div>
                </th>
                <td>
                    <p>
                        <strong>Listen Together</strong><br>
                        SpotifyQ lets everyone at your party or event decide what songs to play.
                    </p>
                </td>
            </tr>
            <tr>
                <th>
                    <img src="{% static 'spotifyQ/img/up-highres.png' %}" class="splash-screen-img">
                </th>
                <td>
                    <p>
                        <strong>Vote</strong><br>
                        Upvote songs you like. The highest voted song will be played next.
                    </p>
                </td>
            </tr>
            <tr>
                <th>
                    <img src="{% static 'spotifyQ/img/spotify-icon.png' %}" class="splash-screen-img">
                </th>
                <td>
                    <p>
                        <strong>Powered by Spotify</strong><br>
                        Enjoy the world's largest music catalogue. Stream any song from Spotify.
                    </p>
                </td>
            </tr>
        </table>
        <div class="item">
            <h4>Connect to a queue</h4>
            <form id='pin-form' action="{% url 'guest' %}" method="POST">
                {% csrf_token %}
                <input type="text" name='pin' placeholder="PIN" class="anim" id="pin-box" required>
                <div>
                    <input type="submit" value="ENTER" formnovalidate class="btn btn-primary btn-lg mt-2" id="enter">
                </div>
            </form>
        </div>
        <div class="item hidden create-a-queue pt-3">
            <div class="hr-sect"><strong>OR</strong></div>
        </div>
        <div class="item hidden create-a-queue">
            <h4>Create a queue</h4>
            <a href="{% url 'login' %}" class="btn btn-success btn-lg" id="spotify" role="button" aria-disabled="true">LOG
                IN WITH SPOTIFY</a>
        </div>
    </div>
    <div class="alert alert-dark alert-dismissible fade show m-0 pr-4 hidden" id="device-not-supported"
         role="alert">
        <p><small>
            Currently, your device is able to <i>connect</i> to a queue, but is not able to <i>start</i> a queue since
            support for Spotify Web Playback API is required.
            To start a queue, navigate to SpotifyQ on Chrome, Firefox, Edge, or IE on a Mac/Windows/Linux.
            Support for mobile devices is on the way.
        </small></p>
        <button type="button" class="close pr-2 pt-1" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='{% static '/spotifyQ/js/index.js' %}'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>