body {
    background-color: #ffffff;
}

.navbar {
    padding: 7px 12px 7px 12px;
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.btn {
    border-radius: 30px;
    font-size: medium;
    font-weight: bold;
    padding: 11px;
}

#page-container {
    /*background-color: #999999;*/
    position: relative;
    min-height: calc(100vh - 54px);
}

#content-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vh 15px 4.5rem;
}

.item {
    color: #111111;
    margin: 1vh 0;
    width: 95%;
    max-width: 450px;
    text-align: center;
    padding: 1vh 0 0 0;
}

#pin-box {
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 27px;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    text-transform: uppercase;
    outline: none;
}

#pin-box:focus {
    box-shadow: 0 0 3pt 2pt #007bff;
    -moz-box-shadow: 0 0 3pt 2pt #007bff;
    -webkit-box-shadow: 0 0 3pt 2pt #007bff;
    -webkit-appearance: none;
}

#enter {
    width: 100%;
    color: #ffffff;
    margin-bottom: 1rem;
}

#spotify {
    background-color: #1DB954;
    border: solid 1px #1DB954;
    color: #ffffff;
    width: 100%;

}

#spotify:hover {
    background-color: #1ED75F;
    border: solid 1px #1ED75F;
}

#spotify:focus {
    background-color: #1AA34A;
    border: solid 1px #1AA34A;
}

.hidden {
    display: none;
}

#device-not-supported {
    background-color: #111111;
    color: #ebebeb;
    /*height: 4.5rem;*/
    position: fixed;
    bottom: 0;
    line-height: 1;
    width: 100%;
}
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #111111;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

table {
    display: block;
}

tr {
    height: 80px;
}

td, th {
    /*border: 1px solid black;*/
    text-align: left;
    vertical-align: center;
    padding: 5px 0;
}

th {
    width: 60px;
}

.splash-screen-img {
    width: 45px;
    height: 45px;
}

.background {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-image: linear-gradient(2.1deg, rgba(116, 253, 210, 1) 5%, rgba(0, 191, 247, 1) 95.8%);
}

#music-note {
    padding: 8px 10px 9px 7px;
}

p {
    font-size: 13px;
    margin: 0;
}

.changing {
    -webkit-animation: shake 0.82s cubic-bezier(.36, .07, .19, .97);
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
